<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <div fxFlex="45" [fxFlex.xs]="95" [fxFlex.sm]="75" [fxFlex.lg]="50">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="50">
                        <img src="../../../assets/idea-icon.png" alt="Image Icon">
                    </div>
                    <div fxFlex>
                        <form [formGroup]="LoginForm" (ngSubmit)="LoginPage()">
                            <mat-form-field>
                                <mat-label>Usuario o Email</mat-label>
                                <mat-icon matSuffix color="primary" inline="true">account_circle</mat-icon>
                                <input matInput autofocus placeholder="Usuario o Email" formControlName="User" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Contraseña</mat-label>
                                <mat-icon matSuffix color="primary" inline="true">vpn_key</mat-icon>
                                <input matInput type="password" placeholder="Contraseña" formControlName="Password" required>
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div fxLayout="column" fxFlexAlign="center center" fxLayoutGap="5px">
                    <button mat-raised-button color="primary" type="submit" (click)="LoginPage()">Login</button>
                    <button mat-button color="primary">Recuper contraseña</button>
                    <a [routerLink]="[ '/signup' ]" routerLinkActive="active">
                        <button mat-button color="primary">¿No tienes cuenta?</button>
                    </a>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <app-loading [displayProgressSpinner]="Loading"></app-loading>
</div>