<div fxLayout="column" fxFlex>
    <mat-card fxLayout="row" fxFlex fxLayoutAlign="space-between center" style="background-color: #ffd600;">
        <mat-icon class="header">highlight</mat-icon>
        <span class="header">Tareas pendiente</span>
        <span class="header">5</span>
    </mat-card>
    <mat-list>
        <mat-list-item>item</mat-list-item>
    </mat-list>
</div>
<div fxFlex fxLayout="column">
    <mat-card fxLayout="row" fxFlex fxLayoutAlign="space-between center" style="background-color: #03aaff;">
        <mat-icon class="header">edit</mat-icon>
        <span class="header">Tareas asignadas</span>
        <span class="header">5</span>
    </mat-card>
    <mat-list>
        <mat-list-item>item</mat-list-item>
    </mat-list>
</div>
<div fxFlex fxLayout="column">
    <mat-card fxLayout="row" fxFlex fxLayoutAlign="space-between center" style="background-color: #673ab7;">
        <mat-icon class="header">settings</mat-icon>
        <span class="header">Desarrollo</span>
        <span class="header">5</span>
    </mat-card>
    <mat-list>
        <mat-list-item>item</mat-list-item>
    </mat-list>
</div>
<div fxFlex fxLayout="column">
    <mat-card fxLayout="row" fxFlex fxLayoutAlign="space-between center" style="background-color: #2fbfc0;">
        <mat-icon class="header">remove_red_eye</mat-icon>
        <span class="header">En Revision</span>
        <span class="header">5</span>
    </mat-card>
    <mat-list>
        <mat-list-item>item</mat-list-item>
    </mat-list>
</div>
<div fxFlex fxLayout="column">
    <mat-card fxLayout="row" fxFlex fxLayoutAlign="space-between center" style="background-color: #8bcc46;">
        <mat-icon class="header">check_circle</mat-icon>
        <span class="header">Completadas</span>
        <span class="header">5</span>
    </mat-card>
    <mat-list>
        <mat-list-item>item</mat-list-item>
    </mat-list>
</div>